.elements {
    width: 880px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

/* mobile */
@media screen and (max-width: 767px) and (min-width: 320px) { 

.elements {
    width: 282px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}