.element {
    width: 282px;
    height: 362px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

.element__image {
    width: 282px;
    height: 282px;
    text-align: center;
    overflow: hidden;
}

.element__info {
    display: flex;
    margin-top: 25px;
}

.element__text {
    width: 246px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    text-align: left;
    display: flex;
    margin: 0;
}

.element__like {
    width: 21px;
    height: 18px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: right;
    transition: opacity 0.3s ease;
}

.element__like:hover {
    opacity: 0.6;
}