.form__submit {
    margin: 0;
}


.form__submit-btn {
    width: 358px;
    height: 50px;
    background-color: black;
    cursor: pointer;
    border-style: none;
    display: block;
    margin: 0 auto;
    color: white;
    transition: opacity 0.3s ease;
}

.form__submit-btn:hover {
    opacity: 0.8;
}


/* mobile */
@media screen and (max-width: 767px) and (min-width: 320px) { 
    
    .form__submit-btn {
        width: 238px;
        height: 46px;
    }
}