.popup__content {
    background-color: white;
    width: 430px;
    height: 330px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.popup__title-newplace {
    font-size: 18px;
    font-weight: bold;
    padding: 35px;
    margin: 0;
}

.popup {
    display: none;
    flex-direction: column;
}

.popup__input {
    border: none;
    margin-bottom: 30px;
    width: 358px;
    height: 28px;
    border-bottom: 1px solid lightgrey;
}


.popup_visible {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.popup__overlay {
    opacity: .7;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.popup__button-close {
    z-index: 1;
    background: none;
    border: none;
    margin-left: 460px;
    transtion: opacity 0.3s ease;
}

.popup__button-close:hover {
    opacity: 0.6;
}


.popup__form {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__image {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_show {
    display: flex;
}

.popup__title {
    display: flex;
    color: white;
}

.popup__image_content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    position: relative;
}

.popup__close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
}

.popup__image_big {
    width: 100%;
    height: auto;
}

/* mobile */
@media screen and (max-width: 767px) and (min-width: 320px) { 


    .popup__content {
        background-color: white;
        width: 282px;
        height: 322px;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .popup__input {
        width: 238px;
    }

    .popup__button-close {
        margin-left: 250px;
    }
}