.page {
    background-color: black;
    font-family: Inter;
    width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 880px;
    height: 74px;
    border-bottom-width: 1 px;
    border-bottom-color: #545454;
    margin-top: 45px;
}

.header__vector {
    width: 173px;
    height: 33px;
    
}

.profile {
    width: 880px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.profile__avatar {
    width: 120px;
    height: 120px;
}

.profile__Info {
    width: 415px;
    height: 77px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;

}

.profile__Info_title{
    width: 373px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}

.button button_type_EditButton {
    width: 24px;
    height: 24px;
}

.profile__Info_subtitle{
    width: 415px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.button button_type_AddButton {
    width: 150px;
    height: 50px;
    background-color: black;
    border-color: white;
    border-radius: 1px;
}



.form__submit-btn {
    width: 24px;
    height: 24px;
}

.form__submit-btn_action_add {
    width: 150px;
    height: 50px;
    border-radius: 2px;
    color: #FFFFFF;
}

.form__submit-btn_action_reset{

}


.elements {
    width: 880px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.element {
    width: 282px;
    height: 362px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

.element__image {
    width: 282px;
    height: 282px;
    text-align: center;
    overflow: hidden;
}

.element__text {
    width: 246px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    text-align: left;
}

.element__like {
    
}

.container {
    background-color: white;
    width: 430px;
    height: 330px;
}

.popup {

}

.SubmitButton {

}

.profile__edit {
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-hight: 29px;
    align-items: left;
}

.popup__form {

}

.form__submit-bt form__submit-btn_action_add {
    width: 358px;
    height: 50px;
    background-color: black;
}

.form__submit-btn form__submit-btn_action_reset {
    width: 40px;
    height: 40px;
    background-color: black;
}

.footer {
    width: 318px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}